/* Default nav links */
.custom-nav .nav-link {
  color: #fff !important;
  font-weight: 500;
  transition: all 0.3s ease;
}

/* Hover effect */
.custom-nav .nav-link:hover {
  color: #38b6ff !important;
  font-weight: bold;
  text-decoration: underline;
  text-decoration-color: #fff;
}
